body {
  height: 100vh;
  width: 100vw;
  background: linear-gradient(#1c8dff, #85eaef); }

#ground {
  height: 228px;
  width: 100vw;
  position: fixed;
  z-index: 10;
  left: 0;
  bottom: 0;
  background-image: url("imgs/groundTile.jpg");
  background-repeat: repeat-x;
  background-size: 228px; }

#c1 {
  animation-delay: 1s;
  left: 400px;
  height: 200px;
  width: 200px;
  background-size: 200px; }

#c2 {
  animation-delay: 2.5s;
  left: 800px;
  top: -105px;
  height: 400px;
  width: 400px;
  background-size: 400px;
  z-index: 1; }

#blockRow {
  height: 100px;
  width: 600px;
  position: relative;
  top: -225px;
  left: 175px;
  display: flex;
  justify-items: center; }

#shawty {
  position: relative;
  top: -800px;
  left: 1000px;
  z-index: 2; }

#chompy {
  height: 400px;
  width: 200px;
  z-index: -2;
  background-image: url("imgs/flower_1.png");
  background-size: 200px 400px;
  position: relative;
  top: -1400px;
  left: 1425px;
  animation-name: plantman, plantEater;
  animation-duration: 2s, .5s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in, step-end; }

.cloud {
  height: 125px;
  width: 125px;
  background-image: url("imgs/cloudTile.png");
  background-repeat: no-repeat;
  background-size: 125px;
  position: relative;
  top: 50px;
  left: 150px;
  animation-name: movingCloud;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out; }

.qBlock {
  height: 100px;
  width: 100px;
  transition: all 500s ease-in-out;
  animation-name: touchBlock;
  animation-play-state: paused;
  animation-duration: 100ms;
  animation-fill-mode: forwards;
  background-image: url("imgs/questionBlockTile.png");
  background-size: 100px; }
  .qBlock:hover {
    animation-play-state: running; }
    .qBlock:hover .coin {
      display: block;
      animation-play-state: running; }

.coin {
  height: 75px;
  width: 75px;
  background-image: url("imgs/marioCoin.png");
  background-size: 75px;
  background-repeat: no-repeat;
  position: relative;
  left: 12px;
  top: 5px;
  display: none;
  animation-name: coinage;
  animation-duration: 300ms;
  animation-play-state: paused;
  animation-fill-mode: forwards; }

.bBlock {
  height: 100px;
  width: 100px;
  background-image: url("imgs/brickBlockTile.png");
  background-size: 100px; }

.pipe {
  height: 500px;
  width: 250px;
  z-index: 1px;
  background-image: url("imgs/pipeTile.png");
  background-size: 250px 500px;
  position: relative;
  top: -500px;
  left: 1400px; }

@keyframes movingCloud {
  0% {
    transform: translateY(0px); }
  50% {
    transform: translateY(50px); }
  100% {
    transform: translateY(0px); } }

@keyframes plantman {
  0% {
    transform: translateY(0px); }
  50% {
    transform: translateY(-400px); }
  100% {
    transform: translatY(0px); } }

@keyframes plantEater {
  0% {
    background-image: url("imgs/flower_1.png"); }
  20% {
    background-image: url("imgs/flower_2.png"); }
  40% {
    background-image: url("imgs/flower_1.png"); }
  60% {
    background-image: url("imgs/flower_2.png"); }
  80% {
    background-image: url("imgs/flower_1.png"); }
  100% {
    background-image: url("imgs/flower_2.png"); } }

@keyframes touchBlock {
  0% {
    background-image: url("imgs/questionBlockTile.png"); }
  100% {
    background-image: url("imgs/brickBlockTile.png"); } }

@keyframes coinage {
  0% {
    transform: translateyY(0px); }
  100% {
    transform: translateY(-200px); } }
